<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.name %>
      </p>
      <%= link_to "by #{@post.user.name}", "/users/#{@post.user.id}", class: :post__user %>

      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>

      <div class="post__image">
        <%= image_tag @post.image %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__title">ハイキング実施日</p>
          <p class="detail__message">
            <%= @post.hiking_date %>
          </p>
        </div>
        <div class="post__detail">
          <p class="detail__title">コース名</p>
          <p class="detail__message">
            <%= @post.route_name %>
          </p>
        </div>
        <div class="post__detail">
          <p class="detail__title">コース詳細</p>
          <p class="detail__message">
            <%= @post.route_detail %>
          </p>
        </div>
        <div class="post__detail">
          <p class="detail__title">感想</p>
          <p class="detail__message">
            <%= @post.comment %>
          </p>
        </div>
      </div>
      <div class="post__comments">

      <% if user_signed_in? %>
        <% if current_user.already_liked?(@post) %>
          <%= link_to post_like_path(@post), method: :delete do %>
          <span class="fas fa-heart"></span>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(@post), method: :post do %>
          <span class="far fa-heart"></span>
          <% end %>
        <% end %>
        <%= @post.likes.count %>
      <% else %>
        <span class="fas fa-heart"></span>
        <%= @post.likes.count %>
      <% end %>

      <% if user_signed_in? %>
        <%= form_with model: [@post, @comment],local: true do |f|%>
          <div class="field">
            <%= f.label :text, "コメント" %><br />
            <%= f.text_field :text, id:"comment_text" %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :form__btn  %>
          </div>
        <% end %> 
      <% end %>
      
      <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <%= comment.text %>
            <%= link_to "(#{comment.user.name})", "/users/#{comment.user.id}", class: :comment_user %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
